<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resource/reset.css">
    <style>
        /* 
            默认样式：
                - 通常情况下，浏览器会为元素设置一些默认样式
                - 默认样式的存在会影响到页面布局，
                    通常情况下必须要去除浏览器的默认样式（pc端）
                
                通常最简单的方式是
                *{
                    margin: 0;
                    padding: 0
                }

                一般我们会使用别人已经写好的样式表，通过link来引入

        */
        .box1{
            width: 100px;
            height: 100px;
            border: 1px red solid;
        }


    </style>
</head>
<body>
    <div class="box1"></div>
</body>
</html>