<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        像素:
            - 在前端开发中，像素分为两种情况讨论，css像素和物理像素
            - 编写网页时使用的像素指的是css像素
            - 浏览器在显示网页时，需要将vss像素转化为物理像素呈现
            - 一个css像素最终由几个物理像素决定，由系统决定
                默认情况下，一个css像素对应一个物理像素

        
        视口(viewport)
            - 视口就是屏幕中用来显示网页的区域
            - 默认情况下
                视口宽度为1920px（css像素)
                物理像素也是1920px
            - 放大两被的像素是 960px（css像素)
                物理像素依旧是1920px
                此时比值为1:2

        在不同的屏幕中，单位像素的大小是不同的，像素越小，屏幕越清晰
        默认情况下，都会将手机端的像素设置为980像素(css像素)以确保移动端网页可以完整显示
            但是如果网页过宽的时候，手机端会自动进行网页缩放



     -->
</body>
</html>